@charset "UTF-8";
/* 浮动盒子 */
.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }

  50% {
    transform: translate(40px);
  }
}

.box .square:nth-child(1) {
  top: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 250px;
  left: -380px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 1px;
  right: -50px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5) {
  top: 80px;
  left: 600px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.box .square:nth-child(6) {
  top: 450px;
  left: 700px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

/* 该画面特有部分的样式 */
.mainContainer {
  position: absolute;
  width: 900px;
  height: 400px;
  top: 100px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

div p,
div h2,
div div p {
  margin: 8px;
}

.footer {
  position: absolute;
  width: 240px;
  font-size: 10px;
  right: 200px;
  top: 300px;
}

.ouboBtn {
  position: absolute;
  right: 60px;
  top: 310px;
  margin: 0px 1px 0px 160px;
  width: 15%;
  background: #fff;
  padding: 5px 1px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 16px;
  letter-spacing: 1px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
  color: #666;
}

.ouboBtnActive {
  cursor: pointer;
}

.ouboBtnActive:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 1px solid white;
}

.ouboBtnDisabled {
  cursor: not-allowed;
}

.ouboMsgContainer {
  position: absolute;
  display: none;
  top: 100px;
  width: 400px;
  height: 40px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  color: aqua;
  font-size: larger;
  z-index: 3;
}
