@charset "UTF-8";
/* 浮动盒子 */
.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }

  50% {
    transform: translate(40px);
  }
}

.box .square:nth-child(1) {
  top: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 250px;
  left: -300px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 1px;
  right: -50px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5) {
  top: 80px;
  left: 600px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.box .square:nth-child(6) {
  top: 450px;
  left: 700px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

/* 该画面特有部分的样式 */
.container1,
.container2 {
  position: absolute;
  width: 600px;
  height: 200px;
  border: 1px solid rgba(255, 255, 255, 0.5); /* 添加边框样式 */
  background-color: rgba(255, 255, 255, 0.1); /* 添加背景色 */
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.container1 {
  top: 100px;
  z-index: 2;
}

.container2 {
  top: 320px;
  z-index: 2;
  color: gray;
}

.hederUsable {
  color: #1d2729;
}

div table {
  align-items: center;
  justify-content: space-around;
  border-collapse: collapse; /* 合并表格边框 */
  width: 100%; /* 设置表格宽度 */
}

div table span thead tr th {
  color: #00d2ff;
  border: 1px solid #00d2ff; /* 添加表头边框 */
  padding: 8px; /* 添加内边距 */
}

div table tbody td {
  border: 1px solid rgba(255, 255, 255, 0.5); /* 添加单元格边框 */
  padding: 8px; /* 添加内边距 */
}

div table tbody td a:hover {
  color: #00d2ff;
}

div table tbody td a:active {
  color: red;
}

div table thead tr th {
  width: 200px;
}

.right {
  position: absolute;
  width: 80px;
  right: 100px;
}

/* .gray{
    color: gray;
} */
