@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppons", sans-serif;
}

body {
  overflow: hidden;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  min-height: 100vh;
  background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
  z-index: 0;
}

section .color {
  position: absolute;
  filter: blur(150px);
}

section .color:nth-child(1) {
  top: -350px;
  width: 600px;
  height: 600px;
  background: #ff359b;
}
section .color:nth-child(2) {
  bottom: -150px;
  left: 100px;
  width: 500px;
  height: 500px;
  background: #fffd87;
}
section .color:nth-child(3) {
  bottom: 50px;
  right: 100px;
  width: 300px;
  height: 300px;
  background: #00d2ff;
}

/* 浮动盒子 */
.box {
  position: relative;
}
.box .square {
  position: absolute;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
  animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
  0%,
  100% {
    transform: translateY(-40px);
  }

  50% {
    transform: translate(40px);
  }
}

.box .square:nth-child(1) {
  top: -20px;
  right: 20px;
  width: 100px;
  height: 100px;
}
.box .square:nth-child(2) {
  top: 250px;
  left: -300px;
  width: 120px;
  height: 120px;
  z-index: 2;
}

.box .square:nth-child(3) {
  bottom: 1px;
  right: -50px;
  width: 80px;
  height: 80px;
  z-index: 2;
}
.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
}
.box .square:nth-child(5) {
  top: 80px;
  left: 600px;
  width: 60px;
  height: 60px;
  z-index: 2;
}
.box .square:nth-child(6) {
  top: 450px;
  left: 700px;
  width: 100px;
  height: 100px;
  z-index: 2;
}

/* 该画面特有部分的样式 */
.container {
  display: flex;
  justify-content: center; /* 在水平方向上居中 */
  align-items: end; /* 在垂直方向上靠底部对齐 */
  position: absolute; /* 绝对定位，相对于包含它的最近的定位元素 */
  bottom: 200px; /* 调整底部距离，可以根据需要调整 */
  left: 50%; /* 将左边缘放置在页面中央 */
  transform: translateX(-50%); /* 通过 transform 进行水平居中 */
  width: 10px;
  height: auto;
}

img {
  width: 300px; /* 设置 logo 宽度，根据实际需求调整 */
  height: auto; /* 保持宽高比 */
}

/* div .container .login{
    display: flex;
    justify-content: center;
    align-items:  flex-end;
    position: absolute;
} */

.container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
}

img {
  width: 400px;
  height: auto;
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center; /* 修改为居中对齐 */
  position: absolute;
  top: calc(50% + 150px); /* 计算垂直位置，放在 logo 下面，可以根据需要调整 */
}

div button.loginBtn {
  padding: 10px;
  font-size: 16px;
  margin-top: 20px;
  width: 100%;
  /* background: rgba(255, 255, 255, 0.2); */
  outline: none;
  padding: 10px 20px;
  border-radius: 35px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  color: #666;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}
div button.loginBtn:hover {
  background: rgba(255, 255, 255, 0.2);
  outline: 2px solid rgb(241, 145, 35);
}
